@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}

.window {
    position: relative;
    width: 100vw;
    /* background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); */
    height: 100vh;
    overflow: visible;
}

.navbar {
    width: 100vw;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    box-shadow: 0 3px 10px grey;
}

.navbar nav {
    width: 90%;
    display: flex;  
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar nav h1 {
    font-size: 30px;
    color: white;
}

.navlinks {
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 100%;
    width: 30%;
    justify-content: space-around;
}

.navlinks li a{
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
}

.navlinks li a:hover {
    border-bottom: 2px white solid;
}


.container {
    position: relative;
    top: 120px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1050px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.signin {
    height: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.toggle-top {
    height: 30px;
}

.formdiv {
    margin: 50px;
    margin-top: 70px;
    margin-bottom: 110px;
    padding: 20px 0;
}

.inputbox {
    padding: 10px 0;
    width: 90%;
    border: 0;
    background-color: transparent;
    color: aliceblue;
    border-bottom: 1px aliceblue solid;
}

.inputdiv {
    margin: 20px 0;
}

.btn {
    font-size: 20px;
    border: 0;
    color: rgb(134, 134, 134);
    background-color: transparent;
    cursor: pointer;
    padding-bottom: 2px;
}

.toggle-nxt p {
    margin: 0 10px;
}

.btn:focus {
    color: #fff;
    border-bottom: 1px aquamarine solid;
}

.toggle-nxt {
    display: flex;
}

.inputdivcheck {
    display: flex;
    margin: 20px 0;
}

.inputboxcheck {
    margin-right: 10px;
}

.inputdivcheck p a {
    color: white;
    text-decoration-color: aquamarine;
    font-size: 17px;
}

.submit {
    cursor: pointer;
    border: 0;
    background-color: rgb(105, 219, 181);
    color: white;
    padding: 10px;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.submit:hover {
    background-color: transparent;
    padding: 9px;
    padding-left: 39px;
    padding-right: 39px;
    border: 1px #fff solid;
}

.btn-new {
    background-color: transparent;
    border: 0;
    color:  rgb(134, 134, 134);
    border-bottom: 1px aquamarine solid;
    cursor: pointer;
    padding-bottom: 2px;
}
.btn-new:hover, .btn:hover {
    color: white;
}

.toggle-top {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-top: 15px;
    margin-right: 25px;
}
.toggle-btn{
    cursor: pointer;
    border: 0;
    font-size: 17px;
    background-color: rgba(0,0,0,0.2);
    color: rgb(134, 134, 134);
    padding: 10px;
    padding: 0 20px;
}

.toggle-btn:focus {
    background-color: rgb(103, 207, 172);
    color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.btn1 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px black solid;
}
.btn2 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(103, 207, 172);
    color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

/* INFO */

.info {
    background-color: rgb(113, 228, 189);
    color: #fff;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.info h1 {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 23px;
    margin-top: 100px;

}

.infoimg {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.space img {
    height: 200px;
}

.space {  
    width: 50%;
    margin: auto;
    margin-top: 70px; 
    padding-bottom: 70px; 
}





/* --media-- */
@media(max-width: 1080px) {
    .container {
        /* background-color: aquamarine; */
        grid-template-columns: repeat(1, 1fr);
        width: 90vw;
        gap: 40px;
        box-shadow: none;
        border: 0;
        background-color: transparent;
        padding-bottom: 40px;
    }
    .signin {
        width: 100%;
        margin: auto;
        align-items: center;
    }
    .info h1 {
        font-size: 30px;
        justify-items: center;
        align-items: center;
    }

    .space {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .signin, .info {
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    .navlinks {
        display: none;
    }
    .collapse {
        display: flex;
        flex-direction: column;
        width: 90px;
        height: 40%;
        margin-left: 30px;
    }
    .line {
        margin: auto;  
        width: 40%;
        height: 3px;
        background-color: white;
        border-radius: 10px;
    }
}
@media(max-width:560px) {
    .space {
        width: 100%;
    }
}

@media(max-width:419px){
    .finalsubmit {
        display:flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }
    .btn-new {
        margin-top: 25px;
    }
}

